//colores
$white: #fff;
$platinium: #E6E7E7;
$Lightgray: #D1D1D1;
$fuzzywuzzy: #E56353;
$ruddypink: #D76C69;
$spanishpink: #ECBCBA;
$eerieblack: #121619;
$raisinblack: #222323;
$Nickel: #6C6E70;

// tipografia
$roboto: 'Roboto', sans-serif; 
$playfair: 'Playfair Display', serif;

// tamaños
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

